{% extends 'layout/base.html' %}

{% block content %}

<div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="jumbotron">
                <div class="container" xmlns="http://www.w3.org/1999/html">
                    <div class="row">

                        <div class="col s12">
                            <div class="card border-secondary mb-4">
                                <form>
                                    <fieldset>
                                        <div class="card-header"><h5 style="color:#fff">Basic Information About the Blockchain Application:</h5></div>
                                        <div class="card-body">

                                            <table class="table table-hover" style="color:#fff">
                                                <thead>
                                                <tr>
                                                    <th scope="col">e</th>
                                                    <th scope="col">e</th>
                                                    <th scope="col">e</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="table-active">
                                                    <th scope="row">e</th>
                                                    <td>Home</td>
                                                    <td>e</tr>
                                                <tr class="table-active">
                                                    <th scope="row">e</th>
                                                    <td>e</td>
                                                    <td>e</td>
                                                </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>

                    <div class="row">

                        <div class="col s12">
                            <div class="card border-secondary mb-4">
                                <form>
                                    <fieldset>
                                        <div class="card-header"><h5 style="color:#fff">REST API Implementation</h5></div>
                                        <div class="card-body">

                                            <table class="table table-hover" style="color:#fff">
                                                <h5>Backend</h5>
                                                <thead>
                                                <tr>
                                                    <th scope="col">URL</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="table-active">
                                                    <th scope="row">/transactions/view</th>
                                                    <td>GET</td>
                                                    <td>e</tr>
                                                <tr class="table-active">
                                                    <th scope="row">/transactions/create</th>
                                                    <td>POST</td>
                                                    <td>a</td>
                                                </tr>
                                                <tr class="table-active">
                                                    <th scope="row">/broadcast/transaction</th>
                                                    <td>POST</td>
                                                    <td>a</td>
                                                </tr>
                                                <tr class="table-active">
                                                    <th scope="row">/broadcast/ring</th>
                                                    <td>POST</td>
                                                    <td>a</td>
                                                </tr>
                                                <tr class="table-active">
                                                    <th scope="row">/broadcast/block</th>
                                                    <td>POST</td>
                                                    <td>a</td>
                                                </tr>
                                                <tr class="table-active">
                                                    <th scope="row">/nodes/register</th>
                                                    <td>POST</td>
                                                    <td>a</td>
                                                </tr>
                                                </tbody>
                                            </table>


                                            <table class="table table-hover" style="color:#fff">
                                                <h5>Frontend</h5>
                                                <thead>
                                                <tr>
                                                    <th scope="col">URL</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="table-active">
                                                    <th scope="row">/</th>
                                                    <td>GET</td>
                                                    <td>Home page</tr>
                                                <tr class="table-active">
                                                    <th scope="row">/waller</th>
                                                    <td>GET</td>
                                                    <td>Node's wallet</td>
                                                </tr>
                                                <tr class="table-active">
                                                    <th scope="row">/help</th>
                                                    <td>GET</td>
                                                    <td>User Manual</td>
                                                </tr>
                                                <tr class="table-active">
                                                    <th scope="row">/about</th>
                                                    <td>GET</td>
                                                    <td>Application Information</td>
                                                </tr>
                                                <tr class="table-active">
                                                    <th scope="row">/contact</th>
                                                    <td>GET</td>
                                                    <td>Contact page</td>
                                                </tr>
                                                </tbody>

                                            </table>

                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <p style="margin-bottom:1cm;"></p>

                <p style="margin-bottom:1cm;"></p>


                <p style="margin-bottom:1cm;"></p>

            </div>

        </div>
        <div class="col-1"></div>
    </div>






{% endblock %}