{% extends 'layout/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="jumbotron bg-danger">
                <div class="row">
                    <div class="col 2">
                        <img src="{{ url_for('static', filename='soviet_union.png') }}" alt="" style="height:500px; margin-left: 50px;"
                             class="circle responsive-img">
                    </div>
                    <div class="col 10">
                        <h4 class="display-4 text-warning">No Contact Options</h4>
                        <h5 class="display-5 text-warning">Noobchain was made by the people for the people</h5>
                        <div class="row">
                            <div class="col 6">
                                <p class="text-warning">Союз нерушимый республик свободных </br>
                                    Сплотила навеки Великая Русь.</br>
                                    Да здравствует созданный волей народов</br>
                                    Единый, могучий Советский Союз!</br>
                                    Славься, Отечество наше свободное,</br>
                                    Дружбы, народов надежный оплот!</br>
                                    Знамя советское, знамя народное</br>
                                    Пусть от победы, к победе ведет!</br>
                                    Сквозь грозы сияло нам солнце свободы,</br>
                                    И Ленин великий нам путь озарил.</br>
                                    Нас вырастил Сталин - на верность народу</br>
                                    На труд и на подвиги нас вдохновил.</br>
                                    Славься, Отечество чаше свободное,</br>
                                    Счастья народов надежный оплот!</br>
                                    Знамя советское, знамя народное</br>
                                    Пусть от победы к победе ведет!.</p>
                            </div>
                            <div class="col 6">
                                <p class="text-warning">Skvoz grozy siialo nam solntse svobody,</br>
                                    I Lenin velikij nam put ozaril.</br>
                                    Nas vyrastil Stalin - na vernost narodu</br>
                                    Na trud i na podvigi nas vdokhnovil.</br>
                                    Slavsia, Otechestvo chashe svobodnoe,</br>
                                    Schastia narodov nadezhnyj oplot!</br>
                                    Znamia sovetskoe, znamia narodnoe</br>
                                    Pust ot pobedy k pobede vedet!</br>
                                    Мы армию нашу растили в сраженьях,</br>
                                    Захватчиков подлых с дороги сметем!</br>
                                    Мы в битвах решаем судьбу поколений,</br>
                                    Мы к славе Отчизну свою поведем!</br>
                                    Славься, Отечество наше свободное,</br>
                                    Славы народов надежный оплот!</br>
                                    Знамя советское, знамя народное</br>
                                    Пусть от победы к победе ведет!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}