{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Welcome to chaincutter!</h1>
    <p class="lead">This is a just filler unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <form>
        <fieldset>
            <div class="row">
                <legend>Login to your wallet!</legend>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
{% endblock %}