<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col 6">
                <h5 class="white-text">Acknowledgements</h5>
                <p class="grey-text text-lighten-4">This project was sorely developed using Django framework (2.2.7) for
                    Python (3.7.1)
                    chaincutter was created as part of examination for course "Distributed Systems".
                    Leading and only (lonely) developers: Dimitrios Zografakis (03400050), Dimitrios Lamprakis
                    (03400059).</p>
            </div>
            <div class="col 6">
                <h5 class="white-text">Quick Links</h5>
                <ul class="nav nav-pills">
                    <li class="nav-link">
                        {% if 'home' in view.breadcrumbs %}
                        <a class="nav-link active" href={% url 'home' %}>Home</a>
                        {% else %}
                        <a class="nav-link" href={% url 'home' %}>Home</a>
                        {% endif %}
                    </li>

                    <li class="nav-link">
                        {% if 'about' in view.breadcrumbs %}
                        <a class="nav-link active" href={% url 'about' %}>About</a>
                        {% else %}
                        <a class="nav-link" href={% url 'about' %}>About</a>
                        {% endif %}
                    </li>

                    <li class="nav-link">
                        {% if 'faq' in view.breadcrumbs %}
                        <a class="nav-link active" href={% url 'faq' %}>FaQ</a>
                        {% else %}
                        <a class="nav-link" href={% url 'faq' %}>FaQ</a>
                        {% endif %}
                    </li>

                    <li class="nav-link">
                        {% if 'contact' in view.breadcrumbs %}
                        <a class="nav-link active" href={% url 'contact' %}>Contact</a>
                        {% else %}
                        <a class="nav-link" href={% url 'contact' %}>Contact</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="footer-copyright">
        <div class="container">
            © 2019-2020 chaincutter made by 03400050, 03400059. All rights reserved.
        </div>
    </div>
</footer>
