{% extends 'layout/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="jumbotron">
                <div class="container" xmlns="http://www.w3.org/1999/html">
                    <div class="row">
                        <div class="col s8">
                            <div class="card-header"><h5 style="color:#fff">Current Blockchain:</h5></div>
                            <div class="card-body">

                                {% for block in data['blockchain'] %}
                                    <div class="card border-secondary mb-4">
                                        <table class="table table-hover" style="color:#fff">
                                            <thead>
                                            <tr>
                                                <th scope="col">Block ID: {{ block[0]['index'] }}</th>
                                                <th scope="col">Hash: {{ block[1] }}</th>
                                                <th scope="col">Capacity: {{ block[0]['transactions'] | length }}</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="table-active">
                                                <td>Mined: {{ block[0]['timestamp'] | ctime}}</td>
                                                <td>Previous Hash: {{ block[0]['previous_hash'] }}</td>
                                                <td>Nonce: {{ block[0]['nonce'] }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p style="margin-bottom:0.2cm;"></p>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    <p style="margin-bottom:1cm;"></p>
                    <p style="margin-bottom:1cm;"></p>
                    <p style="margin-bottom:1cm;"></p>

                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

{% endblock %}